.default-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.default-layout__content {
  flex-grow: 1;
  display: flex;
}

.default-layout__content__aside {
  flex-basis: 400px;
}

.default-layout__content__main {
  flex-grow: 1;
  flex-shrink: 1;
}

.default-layout__footer {
  flex-basis: 100px;
  display: flex;
}